automation/Customer Feedback Triage.json
{
  "name": "Customer Feedback Triage",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        128,
        0
      ],
      "id": "192327de-ccb4-41f9-b031-d3c94c6fc1b3",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "HTTP-Referer",
              "value": "http://localhost:5678"
            },
            {
              "name": "X-Title",
              "value": "n8n Workflow"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"openrouter/free\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Classify this customer feedback. Respond ONLY with valid JSON, no other text, no markdown formatting, in this exact format: {\\\"sentiment\\\": \\\"positive\\\" or \\\"negative\\\" or \\\"neutral\\\", \\\"topic\\\": \\\"one of: delivery, billing, communication, quality, other\\\"}. Feedback: {{ $json.feedback_text }}\"\n    }\n  ],\n  \"response_format\": { \"type\": \"json_object\" }\n}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 2000
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        496,
        0
      ],
      "id": "95193319-c89d-41e6-96e3-02e74759df52",
      "name": "Classify with AI",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3u1Wc9lmCKq5rqLE",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "67795a33-8df9-462e-a6c5-89ee7635d95c",
              "name": "sentiment",
              "value": "={{ JSON.parse($json.choices[0].message.content).sentiment }}",
              "type": "string"
            },
            {
              "id": "75ba2b6d-e71b-4c3e-a827-1346dcdc4ec3",
              "name": "topic",
              "value": "={{ JSON.parse($json.choices[0].message.content).topic }}",
              "type": "string"
            },
            {
              "id": "4deb1762-4e01-4576-bf36-6b407ab1d137",
              "name": "feedback_text",
              "value": "={{ $('Get Feedback Rows').item.json.feedback_text }}",
              "type": "string"
            },
            {
              "id": "67054ffb-0331-4c75-b121-62bf841881cc",
              "name": "customer",
              "value": "={{ $('Get Feedback Rows').item.json.customer }}",
              "type": "string"
            },
            {
              "id": "9fd6e98f-0de9-4b78-b61c-7e9b016450ed",
              "name": "timestamp",
              "value": "={{ $('Get Feedback Rows').item.json.timestamp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        688,
        0
      ],
      "id": "8e324379-5ff8-4413-b1fd-ffba1c694dd0",
      "name": "Updatable fields"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1i4tPWhb-XT3C-5wbAmn8a0PdzImbAdj_USFnu-kLOEw",
          "mode": "list",
          "cachedResultName": "feedback-log",
          "cachedResultUrl": "YOUR_SHEET_ID_OR_URL"
        },
        "sheetName": {
          "__rl": true,
          "value": 141934533,
          "mode": "list",
          "cachedResultName": "feedback-log-seed-data",
          "cachedResultUrl": "YOUR_SHEET_ID_OR_URL"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $json.timestamp }}",
            "sentiment": "={{ $json.sentiment }}",
            "topic": "={{ $json.topic }}"
          },
          "matchingColumns": [
            "timestamp"
          ],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "customer",
              "displayName": "customer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "feedback_text",
              "displayName": "feedback_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sentiment",
              "displayName": "sentiment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "topic",
              "displayName": "topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        880,
        0
      ],
      "id": "a4690b28-22a6-4cc4-92cf-cdd031ebb71c",
      "name": "Update sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AyJ5P4Q0LD5jRcu1",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4cd38d61-934e-4382-8291-90ba8b1f5fd5",
              "leftValue": "={{ $json.sentiment }}",
              "rightValue": "negative",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1072,
        0
      ],
      "id": "8897700c-8bf7-4644-9894-6faba2624bd0",
      "name": "Check if Negative"
    },
    {
      "parameters": {
        "sendTo": "youremail@gmail.com",
        "subject": "=🚨 Negative Feedback Alert - {{ $json.customer }}",
        "message": "=Negative feedback received.  Customer: {{ $json.customer }} Topic: {{ $json.topic }} Feedback: {{ $json.feedback_text }} Timestamp: {{ $json.timestamp }}  Please follow up per the Customer Success escalation process.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1312,
        -64
      ],
      "id": "70ec3a64-ce1e-40e2-b099-fb2931fc23de",
      "name": "Send Alert Email",
      "webhookId": "81c02673-67d8-490a-b60c-ef73138391eb",
      "credentials": {
        "gmailOAuth2": {
          "id": "4CJH94NBKLB3XHV6",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1i4tPWhb-XT3C-5wbAmn8a0PdzImbAdj_USFnu-kLOEw",
          "mode": "list",
          "cachedResultName": "feedback-log",
          "cachedResultUrl": "YOUR_SHEET_ID_OR_URL"
        },
        "sheetName": {
          "__rl": true,
          "value": 141934533,
          "mode": "list",
          "cachedResultName": "feedback-log-seed-data",
          "cachedResultUrl": ""
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        304,
        0
      ],
      "id": "f91fac69-1bf3-4656-8e1e-6f3357424097",
      "name": "Get Feedback Rows",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AyJ5P4Q0LD5jRcu1",
          "name": "Google Sheets account 3"
        }
      }
    }
  ],
  "pinData": {
    "Get Feedback Rows": [
      {
        "json": {
          "row_number": 4,
          "timestamp": "2026-03-04 11:05",
          "customer": "Meridian Health Admin",
          "feedback_text": "Consultant assigned to us clearly knows the space. Very responsive on Slack too.",
          "sentiment": "",
          "topic": ""
        }
      },
      {
        "json": {
          "row_number": 5,
          "timestamp": "2026-03-05 16:40",
          "customer": "Coastal Supply Chain",
          "feedback_text": "The dashboard build is behind schedule and nobody proactively told us. We had to ask for a status update ourselves.",
          "sentiment": "",
          "topic": ""
        }
      },
      {
        "json": {
          "row_number": 6,
          "timestamp": "2026-03-06 8:55",
          "customer": "Fernwood Retail",
          "feedback_text": "Loving the retainer relationship so far, the monthly check-ins are genuinely useful.",
          "sentiment": "",
          "topic": ""
        }
      },
      {
        "json": {
          "row_number": 7,
          "timestamp": "2026-03-07 13:10",
          "customer": "Summit Analytics",
          "feedback_text": "Invoice had an error - billed for hours that weren't in the SOW. Finance is looking into it but this shouldn't happen.",
          "sentiment": "",
          "topic": ""
        }
      }
    ]
  },
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Feedback Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify with AI": {
      "main": [
        [
          {
            "node": "Updatable fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Updatable fields": {
      "main": [
        [
          {
            "node": "Update sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update sheet": {
      "main": [
        [
          {
            "node": "Check if Negative",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Negative": {
      "main": [
        [
          {
            "node": "Send Alert Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Feedback Rows": {
      "main": [
        [
          {
            "node": "Classify with AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "958e40c6-18c6-44c9-8f32-12d0c8aac790",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f33a960f4ee1bf3fbc79b5bffb23710d40ff8d7d4e182853ff16e61d4139575d"
  },
  "nodeGroups": [],
  "id": "vm2CAWlFlPpHLCG5",
  "tags": []
}